html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 430px;
  background-color: #ededed;
}

#root {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  height: 100%;
  background-color: #ffffff;
}

.contents {
  padding-top: 5em;
  margin: 0 auto;
  width: 100%;
}

.title {
  margin: 1em 0;
  text-align: center;
}

.homeList {
  margin: 0 2em;
}